body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #121212; /* Fundo escuro */
    color: #e0e0e0; /* Texto claro */
}

h1 {
    text-align: center;
    color: #ffffff; /* Título em branco */
}

.form-container {
    background-color: #1e1e1e; /* Fundo da área do formulário mais escuro */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra mais forte */
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #444; /* Borda escura */
    background-color: #2b2b2b; /* Fundo do input escuro */
    color: #e0e0e0; /* Texto claro */
    border-radius: 5px;
}

input[type="text"]::placeholder {
    color: #888; /* Cor do placeholder */
}

button {
    padding: 10px 20px;
    background-color: #0011ff; /* Botão verde */
    color: #ffffff; /* Texto branco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4223f0; /* Cor do botão ao passar o mouse */
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 10px;
    background-color: #1e1e1e; /* Fundo escuro dos itens */
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Sombra mais forte */
    color: #e0e0e0; /* Texto claro */
}

select {
    padding: 10px;
    width: 320px; /* Um pouco mais largo para o botão de seleção */
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #444; /* Borda escura */
    background-color: #2b2b2b; /* Fundo do select escuro */
    color: #e0e0e0; /* Texto claro */
    border-radius: 5px;
    appearance: none; /* Remove a aparência padrão do select */
}

select:focus {
    outline: none;
    border-color: #888; /* Destaca a borda ao focar */
}

select option {
    background-color: #2b2b2b; /* Fundo das opções */
    color: #e0e0e0; /* Texto claro */
}
