<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartões API</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div class="container">
        <h1>Gestão de Cartões</h1>

        <div>
            <h2>Cartões Cadastrados</h2>
            <ul id="cartoes-list"></ul>
        </div>

        <div>
            <h2>Criar Cartão</h2>
            <form id="create-cartao-form">
                <input type="text" id="nome" placeholder="Nome do Cartão" required>
                <select id="bandeira" required>
                    <option value="" disabled selected>Selecione a Bandeira</option>
                    <option value="visa">Visa</option>
                    <option value="mastercard">MasterCard</option>
                    <option value="elo">Elo</option>
                </select>
                <select id="nivelCartao" required>
                    <option value="" disabled selected>Selecione o Nível do Cartão</option>
                    <option value="gold">Gold</option>
                    <option value="platinum">Platinum</option>
                    <option value="black">Black</option>
                </select>
                <select id="beneficios" multiple></select>
                <button type="submit">Criar Cartão</button>
            </form>
        </div>

        <div>
            <h2>Atualizar Cartão</h2>
            <form id="update-cartao-form">
                <select id="id-update" required>
                    <option value="" disabled selected>Selecione o ID do cartão</option>
                </select>
                <input type="text" id="nome-update" placeholder="Nome do Cartão">
                <select id="bandeira-update" required>
                    <option value="" disabled selected>Selecione a Bandeira</option>
                    <option value="visa">VISA</option>
                    <option value="mastercard">MASTERCARD</option>
                    <option value="elo">ELO</option>
                </select>
                <select id="nivelCartao-update" required>
                    <option value="" disabled selected>Selecione o Nível do Cartão</option>
                    <option value="gold">GOLD</option>
                    <option value="platinum">PLATINUM</option>
                    <option value="black">BLACK</option>
                </select>
                <select id="beneficios-update" multiple></select>
                <button type="submit">Atualizar Cartão</button>
            </form>
        </div>

        <div>
            <ul id="beneficios-list"></ul>
        </div>

        <div>
            <br>
            <button onclick="window.location.href='beneficio.html'">Ir para Benefícios</button>
        </div>

    </div>

    <script src="../static/app-cartao.js"></script>
</body>

</html>