<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>
    <h1>Bem-vindo à Gestão de Cartões e Benefícios</h1>
    <div class="container">
        <div class="button-container">
            <button onclick="window.location.href='cartao.html'">Ir para Cartões</button>
            <button onclick="window.location.href='beneficio.html'">Ir para Benefícios</button>
        </div>
    </div>
</body>

</html>
